<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> <%=user.firstname %>'s homepage</title>
        <%- include ("../../templates/partials/csslinker") %>
    </head>
    <body>
		<!-- Top menu -->
		<%- include ("../../templates/partials/navbar") %>
        <div class="top-content">
        	
            <div class="inner-bg bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text">
                            <h1 class="wow fadeInLeftBig">Wish Books !! Santas are here</h1>
                            <h1 class="wow fadeInLeftBig">Welcome, <%=user.firstname %> <%=user.lastname %></h1>
                            <div class="description wow fadeInUp">
                            	<p>
	                            	Manava Seve Madhava Seva
                            	</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
        
        <!-- Section 1 -->
        <div class="section-1-container section-container">
	        <div class="container">
	            <div class="row">
	                <div class="col section-1 section-description wow fadeIn">
	                    <h2>About us</h2>
	                    <div class="divider-1 wow fadeInUp"><span></span></div>
	                </div>
	            </div>
	            <div class="row">
                	<div class="col-md-4 section-1-box wow fadeInUp">
                		<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-magic"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Branding</h3>
	                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInDown">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fas fa-cog"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Web design</h3>
	                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
	                    	</div>
	                    </div>
                    </div>
                    <div class="col-md-4 section-1-box wow fadeInUp">
	                	<div class="row">
                			<div class="col-md-4">
			                	<div class="section-1-box-icon">
			                		<i class="fab fa-twitter"></i>
			                	</div>
		                	</div>
	                		<div class="col-md-8">
	                    		<h3>Social media</h3>
	                    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
	                    	</div>
	                    </div>
                    </div>
	            </div>
	        </div>
        </div>

        <!-- Footer -->
        <footer class="footer-container">
        
	        <div class="container">
	        	<div class="row">
	        		
                    <div class="col">
                    	&copy; Bootstrap 4 Header Template. Download it for free on <a href="https://azmind.com">AZMIND</a>.
                    </div>
                    
                </div>
	        </div>
                	
        </footer>
        
        <!-- Javascript -->
		<script src="./js/jquery-3.3.1.min.js"></script>
		<script src="./js/jquery-migrate-3.0.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="./js/jquery.backstretch.min.js"></script>
        <script src="./js/wow.min.js"></script>
        <script src="./js/retina-1.1.0.min.js"></script>
        <script src="./js/waypoints.min.js"></script>
    </body>

</html>