<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <%- include ("../../templates/partials/csslinker") %>
</head>
<body class="container" bgcolor="black">
    <%- include ("../../templates/partials/navbar") %>
    <div style="width:100vw;height:20vh">
search results
    </div>
    <% if(data.length>0) { %>
    <table  width="100%" cellspacing="10" class="table  table-striped">
        <tr>
           <th>name</th><th>Quantity</th><th>Description</th><th>Address</th><th>email</th> <th>Book cover image</th>
        </tr>
     
        <% for (var i = 0; i < data.length;  i++) { %>
         <tr>
           <td><%= data[i].bookname %></td>
           <td><%= data[i].quantity %></td>
           <td><%= data[i].description %></td>
           <td><%= data[i].address %></td>
           <td><%= data[i].useremail%></td>
           <td><img src="<%data:image/jpeg;base64,data[i].bookcover%>" class="imagetorender" /></td>
         </tr>    
        <% } %>

     </table>
     <% } else {%>
        <div style="width:100vw;height:20vh;text-align: center;">
            <h3>No Search results found</h3>
        </div>
    <% } %>
    </div>
        <script>

            document.onload = function(){

                var imgs = document.querySelectorAll('.imagetorender')
                imgs.forEach((img)=>{
                    console.log(img.data)
                    img.src = 'data:image/jpeg;base64,' + btoa(img.data);s
                })
                
            };
        </script>
        <script src="./js/jquery-3.3.1.min.js"></script>
		<script src="./js/jquery-migrate-3.0.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        <script src="./js/jquery.backstretch.min.js"></script>
        <script src="./js/wow.min.js"></script>
        <script src="./js/retina-1.1.0.min.js"></script>
</body>
</html>
