<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Welcome to Give-n-take</title>
    <style>
        body
        { 
          padding-top:80px; 
        }
    </style>
    <%- include ("../../templates/partials/csslinker") %>
</head>
<body>
    <%- include ("../../templates/partials/navbar") %>
<div class="container">
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
   
        <form action="/savechanges" method="post">
            <div class="form-group">
                <label>firstname</label>
                <input type="text" class="form-control" name="firstname" value=<%=user.firstname%>>
            </div>
            <div class="form-group">
                <label>lastname</label>
                <input type="text" class="form-control" name="lastname" value=<%=user.lastname%>>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" value=<%=user.email%>>
            </div>
            <div class="form-group">
                <label>address</label>
                <input type="text" class="form-control" name="address" value=<%=user.address%>>
            </div>
            
            <button type="submit" class="btn btn-warning btn-lg">update</button>
        </form>
        <hr>
        
    </div>
    <div class="col-md-6">
        <img src="/img/updatebiobg.png" alt="" width="100%" height="100%">
    </div>
</div>

</div>
</body>
</html>
